<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Wetsuits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Full Winter
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=winter_mystic" class="dropdown-item">Mystic</a>
                <a href="{% url 'products' %}?category=winter_neilpryde" class="dropdown-item">Neilpryde</a>
                <a href="{% url 'products' %}?category=winter_prolimit" class="dropdown-item">Prolimit</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=winter_mystic,winter_neilpryde,winter_prolimit" class="dropdown-item">All Full Winter</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shortarm
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=shortarm_mystic" class="dropdown-item">Mystic</a>
                <a href="{% url 'products' %}?category=shortarm_neilpryde" class="dropdown-item">Neilpryde</a>
                <a href="{% url 'products' %}?category=shortarm_prolimit" class="dropdown-item">Prolimit</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=shortarm_mystic,shortarm_neilpryde,shortarm_prolimit" class="dropdown-item">All Shortarm</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shorty
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=shorty_mystic" class="dropdown-item">Mystic</a>
                <a href="{% url 'products' %}?category=shorty_neilpryde" class="dropdown-item">Neilpryde</a>
                <a href="{% url 'products' %}?category=shorty_prolimit" class="dropdown-item">Prolimit</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=shorty_mystic,shorty_neilpryde,shorty_prolimit" class="dropdown-item">All Shorty</a>
            </div>
        </li>
    </ul>
</div>